table {
	border-collapse: collapse;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

td {
	font-size:12px;
}

table, td, th {
    border: 1px solid gray;
	padding: 5px;
}

th{
	padding-top: 10px;
	padding-bottom: 10px;
    border: 1px solid gray;
}